aiohttp
aioredis
asyncpg
autobahn
beautifulsoup4
celery
channels
channels_redis
cookiecutter
crispy-bootstrap5
cryptography
daphne
Django
django-allauth
django-appconf
django-axes
django-celery-beat
django-ckeditor-5
django-compressor
django-cors-headers
django-crispy-forms
django-db-geventpool
django-environ
django-filter
django-formtools
django-log-request-id
django-modelcluster
django-otp
django-permissionedforms
django-phonenumber-field
django-pwa
django-redis
django-stubs
django-stubs-ext
django-taggit
django-tailwind
django-tasks
django-timezone-field
django-treebeard
django-two-factor-auth
django-widget-tweaks
djangorestframework
djangorestframework_simplejwt
draftjs_exporter
fastapi
gevent
google-auth
gunicorn
html2text
lxml
mammoth
openpyxl
pillow
pillow_heif
psycopg
psycopg-binary
psycopg2-binary
pydantic
PyJWT
PyNaCl
pyOpenSSL
PyPDF2
python-crontab
python-docx
python-dotenv
python-jose
python-multipart
python-slugify
PyYAML
qrcode
redis
requests
rich
sentry-sdk
SQLAlchemy
starlette
structlog
tailwindcss
Twisted
uvicorn
uvloop
watchfiles
websockets
whitenoise